a {
  text-decoration: none;
  color: inherit;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121224;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}